.notion-sidebar a:hover{text-decoration:none !important;color:var(--font-color) !important;}
.notion-sidebar .sidebar_icon{filter:var(--icon-filter);}
.notion-app-inner .notion-sidebar-container{position:fixed;height:100%;background:var(--sidebar-color);background-image:url(./back4.png);width:200px;white-space:nowrap;padding:10px;z-index:111;transition:transform 0.3s ease;}
.notion-app-inner .notion-sidebar-container .notion-sidebar{position:relative;display:flex;flex-direction:column;justify-content:space-between;height:100%;width:100%;}
.notion-app-inner .notion-sidebar-container .notion-sidebar .menu_content{display:flex;justify-content:center;align-items:start;flex-direction:column;gap:30px;font-size:min(16px,4vw);font-weight:bold;margin-left:10px;margin-block:60px;}
.notion-app-inner .notion-sidebar-container .notion-sidebar .menu_content .nickname{font-size:18px;text-decoration:none;color:var(--font-color);overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.notion-sidebar .search{display:inline-flex;align-items:center;position:relative;cursor:pointer;}
.notion-sidebar .search-input{width:100px;height:22px;background:none;border:none;border-bottom:var(--border-color) 2px solid;color:var(--font-color);}
.notion-sidebar input:focus{outline:none;}
.notion-sidebar #follow{width:100%;display:flex;justify-content:start;align-items:flex-start;flex-direction:column;padding:0;}
.notion-sidebar .follow_items li p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.follow_list{width:100%;}
.notion-sidebar .follow_list label{text-decoration:none;color:var(--font-color);cursor:pointer;}
.notion-sidebar #follow_toggle{display:none;}
.notion-sidebar .follow_items{list-style:none;padding:0;margin:10px 0 0;max-height:0;overflow:hidden;transition:max-height 0.3s ease-out;}
.notion-sidebar #follow_toggle:checked ~ .follow_items{max-height:200px;transition:max-height 0.3s ease-in;}
.notion-sidebar .follow_items li{margin:4px 0;}
.notion-sidebar .icon_wrap{display:flex;gap:10px;}
#toggle-btn{display:none;position:absolute;font-weight:bold;width:40px;height:40px;top:10px;left:10px;background-color:transparent;border:none;color:var(--font-color);z-index:112;cursor:pointer;}
@media (max-width:1000px){#toggle-btn{display:block;background-color:var(--font-color);color:var(--card-back);border:solid 2px var(--border-color);border-radius:50%;}}