<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vibesync.login.mapper.UserMapper">

	<insert id="insertUser" parameterType="com.vibesync.login.domain.SignUpDTO">
		INSERT INTO userAccount
		(ac_idx, email, pw, nickname, name, created_at, category_idx)
		VALUES (useraccount_seq.nextval, #{email}, #{password}, #{nickname}, #{name}, SYSTIMESTAMP, #{category_idx})
	</insert>

	<select id="findVOByEmail"
		resultType="com.vibesync.login.domain.UserVO">
		SELECT ac_idx, nickname, img, name, category_idx
		FROM userAccount WHERE email = #{email}
	</select>
	
	<select id="findByEmail"
		resultType="com.vibesync.login.domain.User">
		SELECT ac_idx, pw, nickname, img, name, category_idx, created_at, kakao_auth_id, google_id 
		FROM userAccount WHERE email = #{email}
	</select>

	<select id="duplicateTest" resultType="com.vibesync.login.domain.UserVO">
		SELECT nickname, email
		FROM userAccount
		WHERE nickname = #{nickname} OR email = #{email}
	</select>

	<select id="preferredCategoryIdx" resultType="Integer">
		SELECT category_idx FROM userAccount WHERE ac_idx = #{ac_idx}
	</select>

	<select id="getBasicUserInfoById"
		resultType="com.vibesync.login.domain.UserSummaryVO">
		SELECT ac_idx, nickname, img, name FROM userAccount WHERE ac_idx = #{ac_idx}
	</select>

	<!-- 특정 사용자가 작성한 총 게시글 수 -->
	<select id="getPostCount" resultType="Integer">
		SELECT COUNT(n.note_idx)
		FROM note n JOIN userPage up ON n.userPg_idx = up.userPg_idx
		WHERE up.ac_idx = #{ac_idx}
	</select>

	<!-- 비밀번호 재설정 -->
	<!-- 비밀번호 재설정 토큰 DB저장 -->
	<insert id="saveResetToken">
		INSERT INTO passwordResetTokens (token, userEmail, expiryDate) VALUES (#{token}, #{email},
		#{expiryDate})
	</insert>

	<!-- 유효한 토큰 사용하여 이메일 조회 -->
	<select id="findEmailByValidToken" resultType="String">
		SELECT userEmail FROM passwordResetTokens WHERE token = #{token} AND expiryDate >
		SYSTIMESTAMP
	</select>
	<!-- 사용된 토큰 DB삭제 -->
	<delete id="deleteToken">
		DELETE FROM passwordResetTokens WHERE token = #{token}
	</delete>

	<!-- 이메일 주소를 기준으로 사용자의 비밀번호 업데이트 -->
	<update id="updatePasswordAndSalt">
		UPDATE userAccount SET pw = #{pw}, salt = #{salt} WHERE email = #{email}
	</update>


</mapper>  