<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vibesync.member.mapper.MemberMapper">

	<insert id="insertUser" parameterType="com.vibesync.member.domain.SignUpDTO">
		<selectKey keyProperty="acIdx" resultType="int" order="AFTER">
			SELECT userAccount_seq.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO userAccount
		(ac_idx, email, pw, nickname, name, created_at, category_idx, ROLE)
		VALUES (userAccount_seq.nextval, #{email}, #{password}, #{nickname}, #{name}, SYSTIMESTAMP, #{categoryIdx}, 'ROLE_USER')
	</insert>

	<select id="findProfileByEmail" resultType="com.vibesync.member.domain.MemberProfileDTO">
		SELECT
            u.ac_idx, u.email, u.nickname, u.name, u.role,
            u.category_idx, u.img,
            u.following_count, u.follower_count, u.created_at,
            s.theme
		FROM
			userAccount u
		LEFT JOIN
			setting s ON u.ac_idx = s.ac_idx
		WHERE
			u.email = #{email}
	</select>

    <select id="findByEmailForAuth" resultType="com.vibesync.member.domain.MemberProfileDTO">
        SELECT 
            u.ac_idx, u.email, u.pw, u.nickname, u.name, u.role,
            u.category_idx, u.img, u.kakao_auth_id, u.google_id,
            u.following_count, u.follower_count, u.created_at,
            s.theme
        FROM 
            userAccount u
        LEFT JOIN
        	setting s ON u.ac_idx = s.ac_idx
        WHERE 
            u.email = #{email}
    </select>

	<select id="duplicateTest" resultType="com.vibesync.member.domain.MemberVO">
		SELECT nickname, email
		FROM userAccount
		WHERE nickname = #{nickname} OR email = #{email}
	</select>

	<select id="preferredCategoryIdx" resultType="Integer">
		SELECT category_idx FROM userAccount WHERE ac_idx = #{acIdx}
	</select>

	<select id="getBasicUserInfoById"
		resultType="com.vibesync.member.domain.MemberSummaryVO">
		SELECT ac_idx, nickname, img, name FROM userAccount WHERE ac_idx = #{acIdx}
	</select>

	<!-- 특정 사용자가 작성한 총 게시글 수 -->
	<select id="getPostCount" resultType="Integer">
		SELECT COUNT(note_idx)
		FROM note
		WHERE ac_idx = #{acIdx}
	</select>

	<!-- 비밀번호 재설정 -->
	<!-- 비밀번호 재설정 토큰 DB저장 -->
	<insert id="saveResetToken">
		INSERT INTO passwordResetTokens (token, userEmail, expiryDate) VALUES (#{token}, #{email},
		#{expiryDate})
	</insert>

	<!-- 유효한 토큰 사용하여 이메일 조회 -->
	<select id="findEmailByValidToken" resultType="String">
		SELECT userEmail FROM passwordResetTokens WHERE token = #{token} AND expiryDate >
		SYSTIMESTAMP
	</select>
	<!-- 사용된 토큰 DB삭제 -->
	<delete id="deleteToken">
		DELETE FROM passwordResetTokens WHERE token = #{token}
	</delete>

	<!-- 이메일 주소를 기준으로 사용자의 비밀번호 업데이트 -->
	<update id="updatePasswordAndSalt">
		UPDATE userAccount SET pw = #{pw}, salt = #{salt} WHERE email = #{email}
	</update>

<!-- 팔로잉 수 증가 -->
<!-- void increaseFollowingCount(@Param("followerAcIdx") int followerAcIdx); -->
	<update id="increaseFollowingCount">
		UPDATE userAccount
		SET following_count = following_count + 1
		WHERE ac_idx = #{followerAcIdx}
	</update>
<!-- // -->

<!-- 팔로워 수 증가 -->
<!-- void increaseFollowerCount(@Param("followedAcIdx") int followedAcIdx); -->
	<update id="increaseFollowerCount">
		UPDATE userAccount
		SET follower_count = follower_count + 1
		WHERE ac_idx = #{followedAcIdx}
	</update>
<!-- // -->

<!-- 팔로잉 수 감소 -->
<!-- void decreaseFollowingCount(@Param("followerAcIdx") int followerAcIdx); -->
	<update id="decreaseFollowingCount">
		UPDATE userAccount
		SET following_count = following_count - 1
		WHERE ac_idx = #{followerAcIdx}
	</update>
<!-- // -->

<!-- 팔로워 수 감소 -->
<!-- void decreaseFollowerCount(@Param("followedAcIdx") int followedAcIdx); -->
	<update id="decreaseFollowerCount">
		UPDATE userAccount
		SET follower_count = follower_count - 1
		WHERE ac_idx = #{followedAcIdx}
	</update>
<!-- // -->

</mapper>  