<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibesync.member.mapper.SettingMapper">

<!-- setting 테이블 -->

<!-- 기본 설정 추가 -->
<!-- int insertDefaultSetting(SettingVO setting); -->
    <insert id="insertDefaultSetting" parameterType="com.vibesync.member.domain.SettingVO">
        <selectKey keyProperty="settingIdx" resultType="int" order="AFTER">
            SELECT setting_seq.CURRVAL FROM DUAL
        </selectKey>

        INSERT INTO setting (setting_idx, ac_idx, font, theme)
        VALUES (setting_seq.nextval, #{acIdx}, 'Arial', 'light')
    </insert>

<!-- // -->

<!-- notification_settings 테이블 -->

<!-- 기본 알림 설정들을 한번에 추가 -->
<!-- int insertDefaultNotificationSettings(int settingIdx, List<String> notificationTypes); -->
    <insert id="insertDefaultNotificationSettings">
        INSERT INTO notification_settings (setting_idx, notification_type, is_enabled)
        <foreach item="type" collection="notificationTypes" separator=" UNION ALL ">
            SELECT #{settingIdx}, #{type}, 1 FROM DUAL
        </foreach>
    </insert>
<!-- // -->
    
 </mapper>