#board_all { width: 100%; }
.board_info { display: flex; justify-content: space-between; align-items: center; }
.board_info p { font-size: 24px; font-weight: bold; }
#filterForm { display: flex; gap: 10px; }
.filter_select, .searchInput { padding: 5px; border: 1px solid var(--border-color); color:var(--font-color); border-radius: 4px; background-color: var(--card-back); }
#search_bar { margin-bottom: 20px; display: flex; justify-content: center; }
#note-list { display: flex; flex-direction: column; gap: 2px; margin-bottom: 2rem }
#note-list .full-post { display: flex; padding: 10px; border-bottom: 1px solid var(--border-color); cursor: pointer; }
#note-list .full-post:hover { background-color: var(--hover-color); }
#note-list .post-index { min-width: 50px; color: #c3c3c3; }
#note-list .post-title { font-weight: bold; }
#note-list .post-author { margin-left: auto; color: #c3c3c3; }
#searchForm { display: flex; justify-content: center; align-items: center; gap: 0.2rem; }
.searchInput { background: none; border: none; border-bottom: 1px solid var(--border-color); font-weight: bold; }
.searchInput option{ background-color: var(--card-back);}
.searchBtn { background: none; border: 1px solid var(--border-color); border-radius: 5px; color:var(--font-color); padding-block: 2px; padding-inline: 8px; font-weight: bold; }
.searchBtn:hover { background: var(--hover-color) !important; }
.pagination { display: flex; justify-content: center; align-items: center; gap: 10px;}
.pagination a.active { margin: 0 5px; text-decoration: none; font-weight: bold; transform: scale(1.15);}