.postview_ed_btn, .postview_de_btn {
	padding: 4px 10px;
	background-color: var(- -card-back);
	font-weight: bold;
	border: solid 2px var(- -border-color);
	border-radius: 6px;
	text-transform: uppercase;
}