<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibesync.follow.mapper.FollowMapper">

<!-- 팔로우 : 팔로우 데이터 추가 -->
<!-- public int insertFollow(FollowVO follow); -->
	<insert id="insertFollow">
		<selectKey keyProperty="followsIdx" resultType="int" order="BEFORE">
			SELECT follows_seq.NEXTVAL FROM dual
		</selectKey>
		INSERT INTO follows (
			follows_idx, ac_follow, ac_following
		)
		VALUES (
			#{followsIdx}, #{acFollow}, #{acFollowing}
		)
	</insert>
<!-- // -->
    
<!-- 언팔로우 : 팔로우 데이터 삭제 -->
<!-- public int deleteFollow(FollowVO follow); -->
	<delete id="deleteFollow">
		DELETE FROM follows
		WHERE ac_follow = #{acFollow} AND ac_following = #{acFollowing}
	</delete>
<!-- // -->
    
<!-- 팔로우 관계 확인 -->
<!-- public int checkFollowStatus(FollowVO follow); -->
	<select id="checkFollowStatus" resultType="int">
		SELECT
			COUNT(follows_idx)
		FROM
			follows
		WHERE
			ac_follow = #{acFollow} AND ac_following = #{acFollowing}
	</select>
<!-- // -->

<!-- 팔로잉 수 조회 -->
<!-- public int selectFollowingCount(int acFollow); -->
	<select id="selectFollowingCount" resultType="int">
		SELECT
			COUNT(follows_idx)
		FROM
			follows
		WHERE
			ac_follow = #{acFollow}
	</select>
<!-- // -->

<!-- 팔로워 수 조회 -->
<!-- public int selectFollowerCount(int acFollowing); -->
	<select id="selectFollowerCount" resultType="int">
		SELECT
			COUNT(follows_idx)
		FROM
			follows
		WHERE
			acFollowing = #{acFollowing}
	</select>
<!-- // -->
    
 </mapper>